receivers:
  otlp:
    protocols:
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  clickhouse:
    endpoint: tcp://arjuna_clickhouse:9000
    database: arjuna_dev
    username: default
    password: devPassword
  debug:
    verbosity: detailed

processors:
  batch:

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouse, debug]