apiVersion: v1
kind: PersistentVolume
metadata:
  name: arjunacrm-server-pv
  namespace: arjunacrm
spec:
  storageClassName: default
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
